<div class="resend_confirmation_instructions">
<div class="ui attached message">
	<div class="header">
	    Resend confirmation instructions
	</div>
	<%= devise_error_messages! %>
</div>
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "ui form attached segment" }) do |f| %>

  <div class="field">
	<%= f.label :email %><br />
  	<%= f.text_field :email, :autofocus => true %>
  </div>

  <div><%= f.submit "Resend confirmation instructions",  :class => "ui blue submit button" %></div>
<% end %>
<div class="ui bottom attached info message">
  <%= render "devise/shared/links" %>
</div>
</div>