- content_for :title, 'Unlock'
.resend_unlock_instruction
  .ui.attached.message
    .header
      Resend unlock instructions
    = devise_error_messages!
  = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => "ui form attached segment" }) do |f|
    .field
      = f.label :email
      %br/
      = f.text_field :email, :autofocus => true
    %div= f.submit "Resend unlock instructions",  :class => "ui blue submit button"
  .ui.bottom.attached.info.message
    = render "devise/shared/links"
