<div class="change_password">
<div class="ui attached message">
	<div class="header">
	    Change your password
	</div>
	<%= devise_error_messages! %>
</div>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "ui form attached segment" }) do |f| %>
  
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "New password" %><br />
  <%= f.password_field :password, :autofocus => true %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Change my password" %></div>
<% end %>
<div class="ui bottom attached info message">
  <%= render "devise/shared/links" %>
</div>
</div>