- content_for :title, 'Change Password'
.change_password
  .ui.attached.message
    .header
      Change your password
    = devise_error_messages!
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "ui form attached segment" }) do |f|
    = f.hidden_field :reset_password_token
    %div
      = f.label :password, "New password"
      %br/
      = f.password_field :password, :autofocus => true
    %div
      = f.label :password_confirmation, "Confirm new password"
      %br/
      = f.password_field :password_confirmation
    %div= f.submit "Change my password"
  .ui.bottom.attached.info.message
    = render "devise/shared/links"
