.send_reset_password_instruction
  .ui.attached.message
    .header
      Forgot your password?
    = devise_error_messages!
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "ui form attached segment" }) do |f|
    .field
      = f.label :email
      = f.text_field :email, :autofocus => true
    %div= f.submit "Send me reset password instructions",  :class => "ui blue submit button"
  .ui.bottom.attached.info.message
    = render "devise/shared/links"
